.event-card {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border: var(--border-standard);
  border-radius: var(--radius-l);
  flex: 1;
  gap: var(--gap-m);
  justify-content: space-around;
  transition: scale var(--transition-speed);
  background-color: var(--color-bg);
}

.event-card:hover {
  scale: 1.01;
}

.event-title {
  color: var(--color-accent);
}

.event-description {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}

.event-emoji {
  font-size: 1.25rem;
}

.event-tickets {
  font-weight: var(--font-weight-bold);
}

.event-category {
  background-color: var(--color-accent-hover);
  padding: 4px 8px;
  border-radius: var(--radius-m);
  width: fit-content;
  color: var(--color-accent);
}

.event-buy-button {
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  color: var(--color-accent);
  border: var(--border-standard);
  border-radius: var(--radius-m);
  cursor: pointer;
  transition: background-color var(--transition-speed);
  font-weight: var(--font-weight-bold);
}

.event-buy-button:not(:disabled):hover {
  background-color: var(--color-accent-hover);
}

.event-buy-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.status-sold-out {
  color: #9c2121;
}

.status-available {
  color: #1d633a;
}
