.navigation {
  background-color: var(--color-bg);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 100px;
  box-sizing: border-box;
}

.login-container {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: var(--color-accent);
  transition: all var(--transition-speed);
}

.link:hover {
  scale: 1.05;
}

.event-link {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.3rem;
}

.nav-to-the-right {
  display: flex;
  gap: var(--gap-l);
}

.user-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}

.user-nav {
  color: var(--color-accent);
  font-size: 0.8rem;
}

.logout-btn {
  background-color: transparent;
  color: var(--color-accent);
  border: var(--border-standard);
  border-radius: var(--radius-m);
  padding: 2px;
  cursor: pointer;
  transition: all var(--transition-speed);
}

.logout-btn:hover {
  scale: 1.05;
}

.cart-icon-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.cart-icon {
  width: 36px;
  height: auto;
}

.cart-badge {
  position: absolute;
  bottom: -4px;
  right: -8px;

  background-color: var(--color-accent);
  color: var(--color-bg);
  font-size: 11px;
  font-weight: bold;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border: 2px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
